<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peritos</title>
</head>
<body>
<p>peritos</p>
    <h1>Detalhes da Notificação</h1>
    <p>Assunto: <span th:text="${assunto}"></span></p>
    <p>Cliente: <span th:text="${client}"></span></p>
    <p>Destinatário: <span th:text="${destinatario}"></span></p>
    <p>Remetente: <span th:text="${remetente}"></span></p>
    <p>Descrição: <span th:text="${descricao}"></span></p>
    <p>Criado em: <span th:text="${createdAt}"></span></p>
</body>
</html>